<style>

.logo {
    margin-top: 7px;
    max-height: 52px;
}

.logo1 {
    max-height: 52px;
}
@media(max-width: 992px){
    .logo1 {
margin: 0 auto;
display: block;
} 
.social-icons1 {
    text-align: center;
}
.pp{
    margin: 0 auto;
}
}

        .footer-style {
    background-color: #48A23F !important;
    padding-top: 70px;
    padding-bottom: 40px;
}

.footer-style a:hover {
    opacity: 0.7;
}

.footer-box {
    color: #bbb;
    margin-bottom: 30px;
}

.footer-box>ul {
    list-style: none;
    padding-left: 0;
    text-align: center;
}

.footer-box ul li {
    padding-bottom: 5px;
    padding: 0px 10px 5px;
    display: inline-block;
}

.footer-box>ul>li>a {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 17px;
    text-decoration: none;
    -webkit-transition: all 250ms 0s ease;
    transition: all 250ms 0s ease;
}

.icon-color {
    color: #427900 !important;
    margin-right: 5px;
}

.u-links {
    border-bottom: 1px solid #444;
    color: #fff;
    font-size: 14px;
    margin-bottom: 20px;
    font-family: 'Merriweather', serif;
}

.connect {
    color: #fff;
    font-size: 14px;
    font-family: 'Merriweather', serif;
}

.footer-box3 {
    color: #bbb;
    margin-bottom: 30px;
}

.mb10 {
    margin-bottom: 10px;
}

.social-icons1 {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    display: inline-block;
    margin-top: 5px;
}

.social-icons1 li {
    display: inline-block;
}

.social-icons-footer {
    color: #e6e6e6;
    font-size: 13px;
    margin-right: 7px;
    padding: 10px;
    border-radius: 50%;
}

.mini-footer {
    background-color: #316DD9 !important;
    padding: 15px 15px 10px;
}

.copyright {
    color: white;
    font-size: 11px !important;
    margin: 0;
}
html, body{ height:100%; margin:0; }
header{ height:50px; background:lightcyan; }
footer{ height:50px; background:PapayaWhip; }

/* Trick */
body{ 
  display:flex; 
  flex-direction:column; 
}

footer{
  margin-top:auto; 
}

</style>
           <!--footer-->
           <footer>
            <div class="footer-style">
                <div class="container">
                    <div class="row" style="border-bottom: 1px solid #59B350;margin-bottom: 10px;">
                        <div class=" col-lg-2">
                            <div class="footer-box logo2">
                                <img class="logo1" src="/images/NavLogo.PNG" alt="logo">
    
                            </div>
                        </div>
                        <div class=" col-lg-8   ">
                            <div class="footer-box">
                                <ul class="">
                                    <li>
                                        <a href="/">Home</a>
                                    </li>
                                    <li>
                                        <a href="/all-doctors">Specialist</a>
                                    </li>
                                    <li>
                                        <a href="">Patients</a>
                                    </li>
                                    <li>
                                        <a href="/appointment">Appointment</a>
                                    </li>
                                    <li>
                                        <a href="">About Us</a>
                                    </li>
                                    <li>
                                        <a href="">Contact Us</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class=" col-lg-2 social">
                            <div class="footer-box3">
                                <ul class="social-icons1">
                                    <li><a hidden href="#" class="social-icons-footer"><i class="fab fa-facebook-f white"></i></a></li>
                                    <li><a hidden href="#" class="social-icons-footer"><i class="fab fa-twitter white" ></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row " style="padding-left: 10px;">
                        <p style="color: rgb(221, 221, 221);" class="pp">All right reserve Pakistan Health Information Center, Copyright © 2020 </p>
                    </div>
                </div>
            </div>
    
        </footer>

