<!DOCTYPE html>
<html>
    <head>
      <title><%= title %></title>
    </head>
    <style>
       .a1, p{
        width: 200px; display: inline-block; margin:10px 20px !important
        }
        .a1{
            width: min-content;
            color: black;
            font-size: large;
        }
        .a1:hover {
  text-decoration: none;
}
    </style>
<body>
    <br>  <br>
    <center>
        <h1>All Disases</h1>
    </center>
    <br>  <br>

    <div>
        <a class="a1"  href="/all-doctors/Cardiologist">
        <div class="card" style="width: 200px; display: inline-block; margin:10px px !important " >
            <div class="card-body">
          
                Cardiologist
            </div>
          </div>
</a>        
          <a class="a1" href="/all-doctors/Dentist">
          <div class="card" style="width: 200px; display: inline-block; margin:10px px !important " >
            <div class="card-body">
            
                Dentist
            </div>
          </div>
</a>        
          <a class="a1" href="/all-doctors/Dermatologist">
          <div class="card" style="width: 200px; display: inline-block; margin:10px px !important " >
            <div class="card-body">
            
                Dermatologist
            </div>
          </div>
</a>        
          <a class="a1" href="/all-doctors/Eye">
          <div class="card" style="width: 200px; display: inline-block; margin:10px px !important " >
            <div class="card-body">
            
                Eye Specialist
            </div>
          </div>
</a>        
          <a class="a1" href="/all-doctors/Gynecologist">
          <div class="card" style="width: 200px; display: inline-block; margin:10px px !important " >
            <div class="card-body">
            
                Gynecologist
            </div>
          </div>
</a>        
          <a class="a1" href="/all-doctors/Hematologist">
          <div class="card" style="width: 200px; display: inline-block; margin:10px px !important " >
            <div class="card-body">
            
                Hematologist
            </div>
          </div>
</a>        
          <a class="a1" href="/all-doctors/Neurologist">
          <div class="card" style="width: 200px; display: inline-block; margin:10px px !important " >
            <div class="card-body">
            
                Neurologist
            </div>
          </div>
</a>        
          <a class="a1" href="/all-doctors/Urologist">
          <div class="card" style="width: 200px; display: inline-block; margin:10px px !important " >
            <div class="card-body">
            
                Urologist
            </div>
          </div>
</a>        
          <a class="a1" href="/all-doctors/Cancer">
          <div class="card" style="width: 200px; display: inline-block; margin:10px px !important " >
            <div class="card-body">
            
                Cancer
            </div>
          </div>
</a>        
          <a class="a1" href="/all-doctors/Psychiatrist">
          <div class="card" style="width: 200px; display: inline-block; margin:10px px !important " >
            <div class="card-body">
            
                Psychiatrist
            </div>
          </div>
</a>        
          <a class="a1" href="/all-doctors/Lung">
          <div class="card" style="width: 200px; display: inline-block; margin:10px px !important " >
            <div class="card-body">
            
                Lung Specialist
            </div>
          </div>
</a>        
          <a class="a1" href="/all-doctors/Rheumatologist">
          <div class="card" style="width: 200px; display: inline-block; margin:10px px !important " >
            <div class="card-body">
            
                Rheumatologist
            </div>
          </div>
</a>        
          <a class="a1" href="/all-doctors/Speech">
          <div class="card" style="width: 200px; display: inline-block; margin:10px px !important " >
            <div class="card-body">
            
                Speech
            </div>
          </div>
</a>        
          <a class="a1" href="/all-doctors/Sexologist">
          <div class="card" style="width: 200px; display: inline-block; margin:10px px !important " >
            <div class="card-body">
            
                Sexologist
            </div>
          </div>
</a>        
          <a class="a1" href="/all-doctors/Urologist">
          <div class="card" style="width: 200px; display: inline-block; margin:10px px !important " >
            <div class="card-body">
            
                Urologist
            </div>
          </div>
</a>          
    </div>
    </body>