<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Responsive sidebar template with sliding effect and dropdown menu based on bootstrap 3">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= title %></title>
        <!--     bootstrap      -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <!--     Google Font     -->
        <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"> -->
        <script src="https://use.fontawesome.com/35f2a0b17d.js"></script>
</head>

    
    <!-- ----------------------------   hehehe   -------------------------------------------- -->
    <body style="font-family: 'Roboto';  background-color: #ffffff">
<br>
    <!--            L o g i n           -->
    <div class="container" .style="border: navy 1px solid;">
        <div class="row" .style="border: goldenrod 1px solid;">
            <div class="col-sm-8 col-lg-5 mt-5 mx-auto" .style="border: red 1px solid;">
                <form class="" action="/member-login" method="POST" style="background-color: #EBEEEB; border-radius: 15px;">
                        <h1 class="mb-4 pt-2" style="text-align: center;">Member Sign In</h1>
                        
                        <%- include('./partials/messages.ejs') %>
                        
                        <div class="form-row mx-auto">
                            <div class="col-md-10 mb-4 mx-auto">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                  <span class="input-group-text" id="inputGroupPrepend3"><i class="fa fa-envelope fa-lg" aria-hidden="true"></i></span>
                                </div>
                                <input name="email_1" type="email" class="form-control .is-invalid input1" id="validationServerPhone" placeholder="Enter Email" aria-describedby="inputGroupPrepend3" required>
                                <!-- <div class="invalid-feedback">
                                    Please choose a Phone.
                                </div> -->
                              </div>
                            </div>
                          </div>
                          <div class="form-row mx-auto">
                            <div class="col-md-10 mb-4 mx-auto">
                              <div class="input-group">
                                <div class="input-group-prepend">
                                  <span class="input-group-text" id="inputGroupPrepend3"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                </div>
                                <input type="password" name="password" class="form-control .is-invalid input1" id="validationServerPassword " placeholder="Enter Password" aria-describedby="inputGroupPrepend3" required>
                            </div>
                            </div>
                          </div>
                          <center>
                              <button class="btn btn-success p-2 w-50  mb-2 mt-2" type="submit">Submit form</button>
                              <a class="text-dark text-center mb-2 mt-2 d-block" href ="/member-forget-password">Forgot Password?</a>
                          </center>
                          <p class="text-center">Don't have an accounnt <a href ="/member-signup" class="text-success">Sign Up</a></p>
                      </form>
                </div>
                </div>
            </div>
        
        
<br> <br>
    <!--    e n d   o f   f o r m    -->

</body>
</html>
