<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Mongo File Upload</title>
</head>

<body>  <title>My First App</title>     
   
    <div class="container">
        <div class="row">
            <div class="col-md-6 m-auto">
                <h1 class="my-4">Upload Diagnosis</h1>
                <form action="/member-dashboard/doctor-appointments/<%= doctorId %>" method="POST" enctype="multipart/form-data">
                    <div class="custom-file mb-3">
                        <input type="file" class="custom-file-input" name="image" id="file1" onchange="readSingleFile(this.files)" autofocus required>
                        <label class="custom-file-label" for="file1" id="file-label">Choose PDF file or image</label>
                    </div>
                    <div class="custom-file mb-3">
                        <select class="form-control" name="fileType" autofocus required>
                            <option value="pdf">PDF</option>
                            <option value="image">Image</option>
                          </select>
                    </div>
                    <!-- <div class="custom-file mb-3">
                        <select class="form-control" name="reportType" autofocus required>
                            <option value="sir dard">sir dard</option>
                            <option value="pait dard">pait dard</option>
                          </select>
                    </div> -->
                    

                    <input type="text" hidden name="doctorId" value="<%= doctorId %>">
                    <input type="text" hidden name="appointmentId" value="<%= appointmentId %>">

                    <input type="submit" value="Submit" class="btn btn-primary btn-block">
                </form>
            </div>
        </div>
    </div>
    
    <br>  <br> 

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    
    <script>
        function readSingleFile(e) {
            const name = e[0].name;
            document.getElementById("file-label").textContent = name;
        }
    </script>
</body>

</html>
